@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(black, grey, white,grey, black);
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  width: 100%;
  display: flex;
  padding: 0 5px;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: white;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  transition: all .5s ease-in;
}

.slide h3 {
  position: absolute;
  font-style: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide:first-child {
  color: black;
}

.slide.active {
  flex: 10;
}

.slide.active h3{
  opacity: 1;
  transition: opacity 0.3s ease-in-out .4s;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }

.back-button {
  margin-left: 10px;
  margin-top: 10px;
  z-index: 2;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  transition: .3s;
  
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.back-button:hover {
  filter: brightness(.5);
}
img {
  width: 100%;
}
