* {
  box-sizing: border-box;
}

body {
 /* background: linear-gradient(135deg, black 10%, grey 45%, grey 55%, black);*/
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
}

.square {
  width: 16px;
  height: 16px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px black;
  transition: 4s ease;
}

.square:hover {
  transition-duration: 0s;
}


@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }

.back-button {
  margin-left: 10px;
  margin-top: 10px;
  z-index: 2;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  transition: .3s;
  
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.back-button:hover {
  filter: brightness(.5);
}
img {
  width: 100%;
}
